.People {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 0) {
    .People {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768PX) {
    .People {
        margin-bottom: 0;
    }
}